*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
     background: linear-gradient(180deg, #1e1e1e 0%, #121212 40%, #0b0b0b 100%);
}

.music-player-container{
    width: 350px;
    height: 530px;
    border-radius: 2rem;
    background: rgba(24,24,24,0.88);
    backdrop-filter: blur(20px);
    border: 1px solid rgba(255,255,255,0.04);
    background: linear-gradient(
    135deg, #1DB95420, #191414 35%, #121212 70%,#000000 100%);
     box-shadow:
     inset 0 2px 5px rgba(255,255,255,0.04),
     inset 0 -20px 40px rgba(0,0,0,0.7),
     inset 0 0 30px rgba(0,0,0,0.3);
    padding: 30px;
    overflow: hidden;
    color: #d5eebb;
}

.music-name, .artist-name{
    text-transform: capitalize;
    color: #ffffff;
}

.music-name{
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 5px;
    margin-top: 30px;
}

.artist-name{
    font-size: 10px;
}

.music-image{
    margin: 10px auto;
    width: 18rem;
    height: 18rem;
    background-image: url('images/khalidm.jpg');
    background-size: cover;
}

.song-slider{
    width: 100%;
    position: relative;
}

.seek-bar{
    -webkit-appearance: none;
    width: 100%;
    height: 5px;
    border-radius: 10px;
    background:#ffffff;
    overflow: hidden;
    cursor: pointer;
}

.seek-bar::-webkit-slider-thumb{
    -webkit-appearance: none;
    width: 1px;
    height: 20px;
    box-shadow: -400px 0 0 400px #768c5e; 
}

.current-time, .song-duration{
    font-size: 14px;
}

.song-duration{
    position: absolute;
    right: 0;
}

.controls{
    width: 60%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    margin-top: 0px;
}

.play-btn{
    position: relative;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background: #ffffff;
    cursor: pointer;
    border: none;
}

.play-btn span{
    position: absolute;
    top: 50%;
    left: 25%;
    transform: translateY(-50%);
    width: 10px;
    height: 30px;
    border-radius: 2px;
    background: #768c5e;
    transition: .5s;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
}

.play-btn span:nth-child(2){
    left: 55%;
    transform-origin: center;
}

.play-btn.pause span:nth-child(2){
    transform: translateY(-50%) scaleY(0);
}

.play-btn.pause span:nth-child(1){
    width: 35%;
    left: 53%;
    transform: translate(-50%, -50%);
    border-radius: 0;
    clip-path: polygon(0 0, 100% 50%, 100% 50%, 0 100%);
}

.play-btn.pause{
    animation: pulse 2s linear infinite;
}

@keyframes pulse{
    0%{
        box-shadow: 0;
    }
    50%{
        box-shadow: 0 0 0 5px rgba(255, 255, 255, 0.1);
    }
    100%{
        box-shadow: 0 0 0 5px rgba(255, 255, 255, 0.4);
    }
}

.btn{
    width: 40px;
    height: 40px;
    background: #ffffff;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    cursor: pointer;
}

  @media (max-width: 480px) {
    body{
    width: 100%;
     align-items: flex-start;
}
    .music-player-container{
      margin-top: 5rem;
      width: 350px;
      height:580px;
    }
}